<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Familiares</h1>
    <ul>
        <li>
            El primer familiar se llama {{familiar1.nombre}}, tiene {{familiar1.edad}} y su fecha de nacimiento es el {{familiar1.fechaDeNacimiento}}
        </li>
        <li>
            El segundo familiar se llama {{familiar2.nombre}}, tiene {{familiar2.edad}} y su fecha de nacimiento es el {{familiar2.fechaDeNacimiento}}
        </li>
        <li>
            El tercer familiar se llama {{familiar3.nombre}}, tiene {{familiar3.edad}} y su fecha de nacimiento es el {{familiar3.fechaDeNacimiento}}
        </li>
    </ul>
</body>
</html>